---
# Deploy Identity Gateway Playbook

- name: Deploy Identity Gateway
  hosts: identity_gateway
  become: yes
  gather_facts: yes

  pre_tasks:
    - name: Include common role for prerequisites
      include_role:
        name: common

    - name: Verify AM is running
      uri:
        url: "{{ am_url }}/json/serverinfo/*"
        method: GET
      delegate_to: localhost
      failed_when: false
      changed_when: false

    - name: Verify IDM is running
      uri:
        url: "http://{{ idm_hostname }}:{{ boot_port_http }}/openidm/info/ping"
        method: GET
      delegate_to: localhost
      failed_when: false
      changed_when: false

  roles:
    - role: identity-gateway
      tags:
        - ig
        - identity-gateway

  post_tasks:
    - name: Display deployment summary
      debug:
        msg: "Identity Gateway deployment completed. IG is available at https://{{ ig_hostname }}:{{ ig_https_port }}"

