{
  "port": {{ ig_http_port }},
  "host": "{{ ig_hostname }}",
  "baseURI": "http://{{ ig_hostname }}:{{ ig_http_port }}",
  "adminPort": {{ ig_http_port }},
  "adminHost": "{{ ig_hostname }}",
  "adminBaseURI": "http://{{ ig_hostname }}:{{ ig_http_port }}"
}

